In [4]:
import pandas as pd


pd.set_option('display.max_rows',500)

![CRISP_DM](../reports/figures/CRISP_DM.png)

# Data Preparation

* Focus is always to undersand the final data structure
* Support each step by visual analytics

## John Hopkins GITHUB csv data

Error : b'From https://github.com/CSSEGISandData/COVID-19\n   21358a26..18b8ce4d  web-data   -> origin/web-data\n'
out : b'Already up to date.\n'

In [5]:
data_path = '../data/raw/COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
pd_raw = pd.read_csv(data_path)

In [6]:
pd_raw.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,8/31/20,9/1/20,9/2/20,9/3/20,9/4/20,9/5/20,9/6/20,9/7/20,9/8/20,9/9/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,38165,38196,38243,38288,38304,38324,38398,38494,38520,38544
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,9513,9606,9728,9844,9967,10102,10255,10406,10553,10704
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,44494,44833,45158,45469,45773,46071,46364,46653,46938,47216
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,1176,1184,1199,1199,1215,1215,1215,1261,1261,1301
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,2654,2729,2777,2805,2876,2935,2965,2981,3033,3092

In [4]:
page = requests.get('https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/Fallzahlen.html')

In [5]:
soup = BeautifulSoup(page.content, 'html.parser')

In [6]:
html_table = soup.find('table')

In [7]:
all_rows = html_table.find_all('tr')

In [8]:
final_data_list = []

In [9]:
for pos, rows in enumerate(all_rows):
    
    col_list = [each_col.get_text(strip=True) for each_col in rows.find_all('td')]
    final_data_list.append(col_list)

In [10]:
pd.DataFrame(final_data_list).dropna().rename(columns={0:'State',1:'Cases',2:'Change',3:'Cases_in_last_7_days',4:'7_days_incidence',5:'deaths'})

,State,Cases,Change,Cases_in_last_7_days,7_days_incidence,deaths
2,Baden-Württem­berg,44.396,+278,1.500,"13,6",1.868
3,Bayern,60.759,+638,2.396,"18,3",2.644
4,Berlin,11.951,+72,459,"12,2",226
5,Branden­burg,3.966,+7,64,"2,5",169
6,Bremen,2.094,+9,58,"8,5",58
7,Hamburg,6.626,+99,213,"11,6",267
8,Hessen,16.500,+125,698,"11,1",537
9,Meck­lenburg-Vor­pommern,1.044,+6,29,"1,8",20
10,Nieder­sachsen,17.572,+118,495,"6,2",665
11,Nord­rhein-West­falen,61.201,+323,1.589,"8,9",1.827
12,Rhein­land-Pfalz,9.560,+77,343,"8,4",245
13,Saarland,3.218,+10,48,"4,8",175
14,Sachsen,6.255,+64,160,"3,9",225
15,Sachsen-Anhalt,2.305,+15,42,"1,9",66
16,Schles­wig-Holstein,4.197,+29,108,"3,7",161
17,Thüringen,3.722,+22,66,"3,1",188
18,Gesamt,255.366,+1.892,8.268,"9,9",9.341

## REST API calls

In [11]:
data = requests.get('https://services7.arcgis.com/mOBPykOjAyBO2ZKk/arcgis/rest/services/Coronaf%C3%A4lle_in_den_Bundesl%C3%A4ndern/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json')

In [12]:
json_object = json.loads(data.content)

In [13]:
type(json_object)

dict

In [14]:
json_object.keys()

dict_keys(['objectIdFieldName', 'uniqueIdField', 'globalIdFieldName', 'geometryProperties', 'serverGens', 'geometryType', 'spatialReference', 'fields', 'features'])

In [15]:
full_list = []

for pos, each_dict in enumerate (json_object['features'][:]):
    full_list.append(each_dict['attributes'])

In [16]:
full_list

[{'OBJECTID_1': 1,
  'LAN_ew_AGS': '01',
  'LAN_ew_GEN': 'Schleswig-Holstein',
  'LAN_ew_BEZ': 'Land',
  'LAN_ew_EWZ': 2896712,
  'OBJECTID': 15,
  'Fallzahl': 4197,
  'Aktualisierung': 1599688800000,
  'AGS_TXT': '01',
  'GlobalID': 'fc5ba936-c95c-432c-8a33-9eb2f30b660f',
  'faelle_100000_EW': 144.888411412664,
  'Shape__Area': 45737314116.8701,
  'Shape__Length': 2881496.1295035,
  'Death': 161},
 {'OBJECTID_1': 2,
  'LAN_ew_AGS': '02',
  'LAN_ew_GEN': 'Hamburg',
  'LAN_ew_BEZ': 'Freie und Hansestadt',
  'LAN_ew_EWZ': 1841179,
  'OBJECTID': 6,
  'Fallzahl': 6626,
  'Aktualisierung': 1599688800000,
  'AGS_TXT': '02',
  'GlobalID': '0f3e860c-5181-4d3f-a421-1d51f50315ea',
  'faelle_100000_EW': 359.878099847978,
  'Shape__Area': 2089396054.82129,
  'Shape__Length': 418800.187474072,
  'Death': 267},
 {'OBJECTID_1': 3,
  'LAN_ew_AGS': '03',
  'LAN_ew_GEN': 'Niedersachsen',
  'LAN_ew_BEZ': 'Land',
  'LAN_ew_EWZ': 7982448,
  'OBJECTID': 9,
  'Fallzahl': 17572,
  'Aktualisierung': 1599688800000,
  'AGS_TXT': '03',
  'GlobalID': '3fd77024-c29b-4843-9be8-682ad48e60c9',
  'faelle_100000_EW': 220.132971739998,
  'Shape__Area': 129983613598.973,
  'Shape__Length': 4008988.2951652,
  'Death': 665},
 {'OBJECTID_1': 4,
  'LAN_ew_AGS': '04',
  'LAN_ew_GEN': 'Bremen',
  'LAN_ew_BEZ': 'Freie Hansestadt',
  'LAN_ew_EWZ': 682986,
  'OBJECTID': 5,
  'Fallzahl': 2094,
  'Aktualisierung': 1599688800000,
  'AGS_TXT': '04',
  'GlobalID': '4132268b-54de-4327-ac1e-760e915112f1',
  'faelle_100000_EW': 306.594864316399,
  'Shape__Area': 1119156745.43408,
  'Shape__Length': 335717.737774516,
  'Death': 58},
 {'OBJECTID_1': 5,
  'LAN_ew_AGS': '05',
  'LAN_ew_GEN': 'Nordrhein-Westfalen',
  'LAN_ew_BEZ': 'Land',
  'LAN_ew_EWZ': 17932651,
  'OBJECTID': 10,
  'Fallzahl': 61201,
  'Aktualisierung': 1599688800000,
  'AGS_TXT': '05',
  'GlobalID': '561d658f-3ee5-46e3-bc95-3528c6558ab9',
  'faelle_100000_EW': 341.282501956905,
  'Shape__Area': 87829361998.0295,
  'Shape__Length': 2648672.50917441,
  'Death': 1827},
 {'OBJECTID_1': 6,
  'LAN_ew_AGS': '06',
  'LAN_ew_GEN': 'Hessen',
  'LAN_ew_BEZ': 'Land',
  'LAN_ew_EWZ': 6265809,
  'OBJECTID': 7,
  'Fallzahl': 16500,
  'Aktualisierung': 1599688800000,
  'AGS_TXT': '06',
  'GlobalID': '93277ac4-e8fc-48c7-8940-028dc2ed66af',
  'faelle_100000_EW': 263.333912667941,
  'Shape__Area': 52359125900.6655,
  'Shape__Length': 2148243.6201819,
  'Death': 537},
 {'OBJECTID_1': 7,
  'LAN_ew_AGS': '07',
  'LAN_ew_GEN': 'Rheinland-Pfalz',
  'LAN_ew_BEZ': 'Land',
  'LAN_ew_EWZ': 4084844,
  'OBJECTID': 11,
  'Fallzahl': 9560,
  'Aktualisierung': 1599688800000,
  'AGS_TXT': '07',
  'GlobalID': 'e9b4296f-9be2-4e53-9a58-ccf1396cb03d',
  'faelle_100000_EW': 234.035865261929,
  'Shape__Area': 47838767393.1633,
  'Shape__Length': 1774430.12830596,
  'Death': 245},
 {'OBJECTID_1': 8,
  'LAN_ew_AGS': '08',
  'LAN_ew_GEN': 'Baden-Württemberg',
  'LAN_ew_BEZ': 'Land',
  'LAN_ew_EWZ': 11069533,
  'OBJECTID': 1,
  'Fallzahl': 44396,
  'Aktualisierung': 1599688800000,
  'AGS_TXT': '08',
  'GlobalID': '80394ddf-c6a4-4a6e-be8e-0259a81b22a9',
  'faelle_100000_EW': 401.064796500449,
  'Shape__Area': 81517323536.8628,
  'Shape__Length': 2544320.39805124,
  'Death': 1868},
 {'OBJECTID_1': 9,
  'LAN_ew_AGS': '09',
  'LAN_ew_GEN': 'Bayern',
  'LAN_ew_BEZ': 'Freistaat',
  'LAN_ew_EWZ': 13076721,
  'OBJECTID': 2,
  'Fallzahl': 60759,
  'Aktualisierung': 1599688800000,
  'AGS_TXT': '09',
  'GlobalID': '1ff920f4-62cd-4a4f-b8c9-f042f2a3e00a',
  'faelle_100000_EW': 464.634827033474,
  'Shape__Area': 163485540875.077,
  'Shape__Length': 3898617.90542911,
  'Death': 2644},
 {'OBJECTID_1': 10,
  'LAN_ew_AGS': '10',
  'LAN_ew_GEN': 'Saarland',
  'LAN_ew_BEZ': 'Land',
  'LAN_ew_EWZ': 990509,
  'OBJECTID': 12,
  'Fallzahl': 3218,
  'Aktualisierung': 1599688800000,
  'AGS_TXT': '10',
  'GlobalID': 'e3396a6f-8a30-4fdf-8df7-def77dd38bea',
  'faelle_100000_EW': 324.88346900432,
  'Shape__Area': 6060691818.01318,
  'Shape__Length': 562678.876124348,
  'Death': 175},
 {'OBJECTID_1': 11,
  'LAN_ew_AGS': '11',
  'LAN_ew_GEN': 'Berlin',
  'LAN_ew_BEZ': 'Land',
  'LAN_ew_EWZ': 3644826,
  'OBJECTID': 3,
  'Fallzahl': 11951,
  'Aktualisierung': 1599688800000,
  'AGS_TXT': '11',
  'GlobalID': 'c7033073-2bb0-486b-97af-5b3c639e7219',
  'faelle_100000_EW': 327.889452061635,
  'Shape__Area': 2402458320.59863,
  'Shape__Length': 363979.182407356,
  'Death': 226},
 {'OBJECTID_1': 12,
  'LAN_ew_AGS': '12',
  'LAN_ew_GEN': 'Brandenburg',
  'LAN_ew_BEZ': 'Land',
  'LAN_ew_EWZ': 2511917,
  'OBJECTID': 4,
  'Fallzahl': 3966,
  'Aktualisierung': 1599688800000,
  'AGS_TXT': '12',
  'GlobalID': 'b560af89-5895-4be4-96f8-0f581cd8a858',
  'faelle_100000_EW': 157.887382425454,
  'Shape__Area': 79801970800.2686,
  'Shape__Length': 2571385.42188057,
  'Death': 169},
 {'OBJECTID_1': 13,
  'LAN_ew_AGS': '13',
  'LAN_ew_GEN': 'Mecklenburg-Vorpommern',
  'LAN_ew_BEZ': 'Land',
  'LAN_ew_EWZ': 1609675,
  'OBJECTID': 8,
  'Fallzahl': 1044,
  'Aktualisierung': 1599688800000,
  'AGS_TXT': '13',
  'GlobalID': 'a27f5628-e790-45be-898d-f0a6841c0f7e',
  'faelle_100000_EW': 64.8578129125445,
  'Shape__Area': 65873523064.0757,
  'Shape__Length': 4131181.10875485,
  'Death': 20},
 {'OBJECTID_1': 14,
  'LAN_ew_AGS': '14',
  'LAN_ew_GEN': 'Sachsen',
  'LAN_ew_BEZ': 'Freistaat',
  'LAN_ew_EWZ': 4077937,
  'OBJECTID': 13,
  'Fallzahl': 6255,
  'Aktualisierung': 1599688800000,
  'AGS_TXT': '14',
  'GlobalID': '256d2405-a7c8-4fec-93df-29f3c808cd25',
  'faelle_100000_EW': 153.386381398241,
  'Shape__Area': 46626497892.9951,
  'Shape__Length': 2048279.98573376,
  'Death': 225},
 {'OBJECTID_1': 15,
  'LAN_ew_AGS': '15',
  'LAN_ew_GEN': 'Sachsen-Anhalt',
  'LAN_ew_BEZ': 'Land',
  'LAN_ew_EWZ': 2208321,
  'OBJECTID': 14,
  'Fallzahl': 2305,
  'Aktualisierung': 1599688800000,
  'AGS_TXT': '15',
  'GlobalID': '66106bbe-f04b-4f92-80e1-5b5b30da25b5',
  'faelle_100000_EW': 104.377941431522,
  'Shape__Area': 54177007537.6553,
  'Shape__Length': 1920386.52842308,
  'Death': 66},
 {'OBJECTID_1': 16,
  'LAN_ew_AGS': '16',
  'LAN_ew_GEN': 'Thüringen',
  'LAN_ew_BEZ': 'Freistaat',
  'LAN_ew_EWZ': 2143145,
  'OBJECTID': 16,
  'Fallzahl': 3722,
  'Aktualisierung': 1599688800000,
  'AGS_TXT': '16',
  'GlobalID': '3a3e2817-bb19-4f8c-8bca-d8ff591140d4',
  'faelle_100000_EW': 173.670003662841,
  'Shape__Area': 40685205073.9761,
  'Shape__Length': 2015719.49965031,
  'Death': 188}]

In [17]:
pd.DataFrame(full_list)

,OBJECTID_1,LAN_ew_AGS,LAN_ew_GEN,LAN_ew_BEZ,LAN_ew_EWZ,OBJECTID,Fallzahl,Aktualisierung,AGS_TXT,GlobalID,faelle_100000_EW,Shape__Area,Shape__Length,Death
0,1,01,Schleswig-Holstein,Land,2896712,15,4197,1599688800000,01,fc5ba936-c95c-432c-8a33-9eb2f30b660f,144.888411,4.573731e+10,2.881496e+06,161
1,2,02,Hamburg,Freie und Hansestadt,1841179,6,6626,1599688800000,02,0f3e860c-5181-4d3f-a421-1d51f50315ea,359.878100,2.089396e+09,4.188002e+05,267
2,3,03,Niedersachsen,Land,7982448,9,17572,1599688800000,03,3fd77024-c29b-4843-9be8-682ad48e60c9,220.132972,1.299836e+11,4.008988e+06,665
3,4,04,Bremen,Freie Hansestadt,682986,5,2094,1599688800000,04,4132268b-54de-4327-ac1e-760e915112f1,306.594864,1.119157e+09,3.357177e+05,58
4,5,05,Nordrhein-Westfalen,Land,17932651,10,61201,1599688800000,05,561d658f-3ee5-46e3-bc95-3528c6558ab9,341.282502,8.782936e+10,2.648673e+06,1827
5,6,06,Hessen,Land,6265809,7,16500,1599688800000,06,93277ac4-e8fc-48c7-8940-028dc2ed66af,263.333913,5.235913e+10,2.148244e+06,537
6,7,07,Rheinland-Pfalz,Land,4084844,11,9560,1599688800000,07,e9b4296f-9be2-4e53-9a58-ccf1396cb03d,234.035865,4.783877e+10,1.774430e+06,245
7,8,08,Baden-Württemberg,Land,11069533,1,44396,1599688800000,08,80394ddf-c6a4-4a6e-be8e-0259a81b22a9,401.064797,8.151732e+10,2.544320e+06,1868
8,9,09,Bayern,Freistaat,13076721,2,60759,1599688800000,09,1ff920f4-62cd-4a4f-b8c9-f042f2a3e00a,464.634827,1.634855e+11,3.898618e+06,2644
9,10,10,Saarland,Land,990509,12,3218,1599688800000,10,e3396a6f-8a30-4fdf-8df7-def77dd38bea,324.883469,6.060692e+09,5.626789e+05,175
10,11,11,Berlin,Land,3644826,3,11951,1599688800000,11,c7033073-2bb0-486b-97af-5b3c639e7219,327.889452,2.402458e+09,3.639792e+05,226
11,12,12,Brandenburg,Land,2511917,4,3966,1599688800000,12,b560af89-5895-4be4-96f8-0f581cd8a858,157.887382,7.980197e+10,2.571385e+06,169
12,13,13,Mecklenburg-Vorpommern,Land,1609675,8,1044,1599688800000,13,a27f5628-e790-45be-898d-f0a6841c0f7e,64.857813,6.587352e+10,4.131181e+06,20
13,14,14,Sachsen,Freistaat,4077937,13,6255,1599688800000,14,256d2405-a7c8-4fec-93df-29f3c808cd25,153.386381,4.662650e+10,2.048280e+06,225
14,15,15,Sachsen-Anhalt,Land,2208321,14,2305,1599688800000,15,66106bbe-f04b-4f92-80e1-5b5b30da25b5,104.377941,5.417701e+10,1.920387e+06,66
15,16,16,Thüringen,Freistaat,2143145,16,3722,1599688800000,16,3a3e2817-bb19-4f8c-8bca-d8ff591140d4,173.670004,4.068521e+10,2.015719e+06,188

# API access vie REST service, e.g. USA data

example of a REST conform interface (Registration required)

www.smartable.ai

In [18]:
url_endpoint = 'https://api.smartable.ai/coronavirus/stats/US'

headers = {
# Request headers
'Cache-Control': 'no-cache',
'Subscription-Key': '7d7bd767d5fd4ff0b14f7ec9c26f8227',
}

response = requests.get(url_endpoint, headers = headers)

In [19]:
response

In [20]:
US_dict = json.loads(response.content)

with open('../data/raw/SMARTABLE/US_data.txt','w') as outfile:
    json.dump(US_dict, outfile, indent=2)